@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Quicksand&display=swap');
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff'),
        url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
